$corDeFundo : #000;
$corTextoprincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #D3AE36;
$corDeFundoBotaoSecundario: #eb3434;
$corDeFundoBotaoDark: #000;
$HeaderFundo: #d8a648;